.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #343a40;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-title {
    margin-left: 5px;
}


.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
    display: flex;
    align-self: center;
}

.nav-links a, .nav-links button {
    color: white;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}

.nav-links a:hover, .nav-links button:hover {
    color: #aaa;
}

.main-content {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
